:root {
	--box-default-bg-color: #f0f0f0;
}

.box {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--box-default-bg-color);
	color: var(--box-default-fg-color);
}
