@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--default-bg-color: 255, 255, 255;
	--default-fg-color: 0, 0, 0;
	--tbank-bg-color: 255, 221, 45;
	--tbank-fg-color: 0, 0, 0;
	--box-bg-color: 240, 240, 240;
	--box-fg-color: 0, 0, 0;
	--box-hover-bg-color: 204, 204, 204;
	--box-hover-fg-color: 0, 0, 0;
	--mobile-breakpoint: 1368px;

	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: rgb(var(--default-bg-color));
	color: rgb(var(--default-fg-color));
	padding: 0 1rem;
}

nav {
	position: sticky;
	top: 1rem;
	background-color: rgba(var(--default-bg-color), 0.5);
	border: 1px solid rgb(var(--box-hover-bg-color));
	backdrop-filter: blur(5px);
	margin: 1rem 0;
	padding: 1rem 1rem 1rem 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 50;

	& > *:first-child {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		font-size: larger;
		text-transform: uppercase;
		font-weight: bolder;
		user-select: none;

		& img {
			height: 2rem;
		}

		& strong {
			margin-bottom: 1px;
		}
	}

	& > *:last-child {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}
}

button,
a {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	border-radius: 0.5rem;
	border: 1px solid rgb(var(--box-hover-bg-color));
	padding: 0.5rem 0.5rem;
	font-size: medium;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	background-color: transparent;
	color: rgb(var(--box-fg-color));
	cursor: pointer;
	transition: all 0.25s;

	&:hover {
		background-color: rgb(var(--box-bg-color));
		color: rgb(var(--box-fg-color));
	}

	&:active {
		scale: 0.95;
	}

	& svg {
		height: 1.25rem;
	}
}

a {
	text-decoration: unset;
}

main {
	margin: 1rem auto;
	padding: 2rem;
	max-width: var(--mobile-breakpoint);
	width: 100%;
	font-size: xx-large;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	gap: 2rem;
	box-shadow: 1px 1px 5px rgb(var(--default-fg-color));
	border: 1px solid rgb(var(--box-hover-bg-color));
}

.box {
	overflow: hidden;
	height: 100%;
	width: 100%;
	border-radius: 1rem;
	padding: 1rem;
	background-color: rgb(var(--box-bg-color));
	color: rgb(var(--box-fg-color));
	position: relative;

	& .avatar {
		object-fit: cover;
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
	}
}
